{% extends 'base.html' %}

{% block title %}漏洞详情 - web漏洞扫描系统{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center">漏洞详情</h1>
    <div class="card">
        <div class="card-header">
            <h2>{{ scan.url }} - {{ scan.scan_type }}</h2> <!-- 显示扫描的URL和类型 -->
        </div>
        <div class="card-body">
            <h5 class="card-title">结果详细信息</h5>
            <ul class="list-group">
                {% for vulnerability in vulnerability_details %}
                    <li class="list-group-item">
                        <strong>{{ vulnerability.description }}</strong><br>
                        <p class="mb-1">{{ vulnerability.detail }}</p> <!-- 显示漏洞的详细信息 -->
                    </li>
                {% empty %}
                    <li class="list-group-item">没有发现任何漏洞。</li>
                {% endfor %}
            </ul>
        </div>
        <div class="card-footer text-muted">
            发现时间: {{ scan.created_at|date:"Y-m-d H:i" }} <!-- 显示扫描的发现时间 -->
        </div>
    </div>
    <div class="mt-4 text-center">
        <a href="{% url 'webscan:report' %}" class="btn btn-secondary">返回报告</a> <!-- 返回报告 -->
        <a href="javascript:window.history.back();" class="btn btn-light">返回上一页</a> <!-- 返回上一页 -->
    </div>
</div>
{% endblock %}
