<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>DASHMIN - Bootstrap Admin Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">



    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="">
    <link href="{% static 'css/css2.css' %}" rel="stylesheet">
    <link href="{% static 'css/all.min.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap5/css/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'css/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap5/css/tempusdominus-bootstrap-4.min.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap5/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body>
<div class="container-fluid position-relative bg-white d-flex p-0">

    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">加载中...</span>
        </div>
    </div>


    <div class="container-fluid">
        <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
            <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
                <div class="bg-light rounded p-4 p-sm-5 my-4 mx-3">
                    <div class="d-flex align-items-center justify-content-between mb-3">
                        <h3>注册</h3>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                        <label for="floatingInput">邮箱</label>
                    </div>
                    <div class="form-floating mb-4">
                        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                        <label for="floatingPassword">密码</label>
                    </div>
                    <div class="form-floating mb-4">
                        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                        <label for="floatingPassword">确认密码</label>
                    </div>
                    <div class="input-group mb-4" style="height: 55px;">
                        <input type="text" class="form-control" placeholder="验证码" aria-label="Recipient's username" aria-describedby="button-addon2">
                        <button class="btn btn-outline-secondary" type="button" id="button-addon2">获取验证码</button>
                    </div>
                    <button type="submit" class="btn btn-primary py-3 w-100 mb-4">注册</button>
                </div>
            </div>
        </div>
    </div>

</div>
<script src="{% static 'jquery/jquery-3.7.1.min.js' %}" type="4bebc94b2db97a1f9680a39f-text/javascript"></script>
<script src="{% static 'bootstrap5/js/bootstrap.bundle.min.js' %}" type="4bebc94b2db97a1f9680a39f-text/javascript"></script>
<script src="{% static 'js/chart.min.js' %}" type="4bebc94b2db97a1f9680a39f-text/javascript"></script>
<script src="{% static 'js/easing.min.js' %}" type="4bebc94b2db97a1f9680a39f-text/javascript"></script>
<script src="{% static 'js/waypoints.min.js' %}" type="4bebc94b2db97a1f9680a39f-text/javascript"></script>
<script src="{% static 'js/owl.carousel.min.js' %}" type="4bebc94b2db97a1f9680a39f-text/javascript"></script>
<script src="{% static 'js/moment.min.js' %}" type="4bebc94b2db97a1f9680a39f-text/javascript"></script>
<script src="{% static 'js/moment-timezone.min.js' %}" type="4bebc94b2db97a1f9680a39f-text/javascript"></script>
<script src="{% static 'bootstrap5/js/tempusdominus-bootstrap-4.min.js' %}" type="4bebc94b2db97a1f9680a39f-text/javascript"></script>
<script src="{% static 'js/main.js' %}" type="4bebc94b2db97a1f9680a39f-text/javascript"></script>
<script src="{% static 'js/rocket-loader.min.js' %}" data-cf-settings="4bebc94b2db97a1f9680a39f-|49" defer=""></script>
</body>
</html>